<%if(alerts.success) {%>
	<% alerts.success.forEach(function(msg){%>
		<div class="row">
			<div class="card green darken-4">
			<%= msg%>
			</div>
		</div>
	<%});%>
<%}%>

<%if(alerts.error) {%>
	<% alerts.error.forEach(function(msg){%>
		<div class="row">
			<div class="card red darken-4">
			<%= msg%>
			</div>
		</div>
	<%});%>
<%}%>