<%if(alerts.success) {%>
	<% alerts.success.forEach(function(msg){%>
		<div class="row">
			<div class="card-panel green darken-4 flow-text center-align">
			<%= msg%>
			</div>
		</div>
	<%});%>
<%}%>

<%if(alerts.error) {%>
	<% alerts.error.forEach(function(msg){%>
		<div class="row">
			<div class="card-panel red darken-4 flow-text center-align">
			<%= msg%>
			</div>
		</div>
	<%});%>
<%}%>