  <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="#" class="brand-logo center">Inkwell</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <%if(currentUser){%>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      <%} else {%>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
      <%}%>
      </ul>
    </div>
  </nav>