<form class="editform" method="POST" action="/journal">
	
	<input class="form-text-white" type="text" name="title">

	<input class="form-text-white" type="text" name="content">

		<!-- Switch -->
	  <div class="switch">
	  	<label for="public">
	  		<label>
	  		  No
	  		  <input name="public" type="checkbox">
	  		  <span class="lever"></span>
	  		  Yes
	  		</label>
	  	</label>
	  </div>
	
	<button type="submit" class="waves-effect waves-light btn grey">Submit</button>
</form>