<body style="background-image: url('../img/woodbackground2.jpg');">

<div class="container" id="journal-entry-content">

	<h2 class="center-align shadow-text">
		<%= journal.title%>		
	</h2>

	<p id="width" class="shadow-text">
		<%= journal.content%>
	</p>
	<br />
	<br />
	<%if (currentUser) {%>
		<div class="center-align">
			<button href="/journal/<%= journal.id%>" class="btn waves-effect waves-light grey delete-btn" type="button" name="action">Delete
			<i class="material-icons right"></i>
			</button>

			<a href="/journal/edit/<%= journal.id%>" class="waves-effect waves-light btn grey"></i>Edit Entry</a>
			</a>
		</div>
	<%}%>	
</div>

</body>