/*Generic CSS*/
body {
	background-image: url('../img/woodbackground.jpg');
	background-size: cover no-repeat;
	color: white;
}

.shadow-text {
	text-shadow: 4px 4px 7px rgba(100, 100, 100, 0.50);
}

p {
	font-size: 18px;
}

/*Profile CSS*/
#profileimage {
	width: 350px;
}

#profiledisplay {
	background-color: #262626;
	padding: 20px;
	border-radius: 20px;
	margin-top: 50px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/*Edit Profile CSS*/
.editform {
	background-color: #262626;
	padding: 20px;
	border-radius: 20px;
	margin-top: 100px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/*Signup CSS*/
#signupform {
	background-color: #262626;
	padding: 20px;
	border-radius: 20px;
	margin-top: 100px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#signupbody {
	color: black;
}

/*Login CSS*/
#notebookclosed {
	position: relative;
	z-index: 1;
	max-height: 820px;
	margin-bottom: -600px;
}

#login-form-container {
	position: relative;
	text-align: center;
	max-width: 400px;
	z-index: 2;
}

#login-form {
	z-index: 2;
}

.form-text-white {
	color: white;
}

/*New Journal Entry CSS*/
#editor-container {
	background: white;
}

#editor {
	height: 400px;
	color: black;
}

#new-entry-form {
	background-color: #262626;
	padding: 60px;
	border-radius: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/*Journal List CSS*/
#journal-list {
	position: relative;
	margin-top: 50px;
	margin-left: -100px;
	max-width: 400px;
	max-height: 670px;
	overflow-y: auto;
}

/*Journal Show CSS*/
#journal-entry-content {
	position: relative;
	margin-top: 100px;
	margin-left: 35px;
	max-width: 600px;
	overflow-wrap: break-word;
}