body {
	background-image: url('../img/woodbackground.jpg');
	background-size: cover no-repeat;
	color: white;
}

#profileimage {
	width: 350px;
}

#login-form-container {
	position: relative;
	text-align: center;
	max-width: 400px;
	z-index: 2;
}

#login-form {
	z-index: 2;
}

#profile-name {
	text-align: center;
}

#test {
	text-align: center;
}

#email {
	color: white;
}

#password {
	color: white;
}

#editor-container {
	background: white;
}

#editor {
	height: 400px;
	color: black;
}

#notebookclosed {
	position: relative;
	z-index: 1;
	max-height: 820px;
	margin-bottom: -600px;
}

#notebookopen {
	position: relative;
	left: -58%;
	z-index: 1;
	margin-bottom: -1200px;
}

#journal-list {
	position: relative;
	max-width: 800px;
	z-index: 2;
	left: -20%;
}